{% load static %}
<div class="home-banner-section overflow-hidden position-relative">
    <div class="banner-container-box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12 mb-md-0 mb-4 text-md-left text-center order-lg-1 order-2">
                    <div class="social-icons position-absolute">
                        <ul class="list-unstyled">
                            <li><a class="text-decoration-none"><i class="fa-brands fa-facebook-f social-networks"></i></a></li>
                            <li><a class="text-decoration-none"><i class="fa-brands fa-twitter social-networks"></i></a></li>
                            <li><a class="text-decoration-none"><i class="fa-brands fa-instagram social-networks"></i></a></li>
                        </ul>
                    </div>
                    <div class="home-banner-text" data-aos="fade-up" id="myContentDIV">
                        <h1>We Provide <span class="h1-text">Cyber Solutions</span> For Your Security</h1>
                        <p class="banner-paragraph">
                            Quis autem vel eum iure reprehenderit qui in ea voluptate 
                            velit esse ruam nihil molestiae.</p>
                        <div class="banner-btn discover-btn-banner">
                            <a href="about.html" class="text-decoration-none">Get Started</a>
                            <a href="about.html" class="text-decoration-none play-button">Contact us</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 order-lg-2 order-1">
                    <div class="banner-img-content position-relative">
                        <figure class="banner-img mb-0">
                            <img class="img-fluid banner-img-width" src="{% static 'images/whiz-cyber-banner.png' %}" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>