{% load static %}
<script src="../../code.jquery.com/jquery-1.12.1.min.js' %}"></script>
<script src="{% static 'js/animations.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="../../unpkg.com/aos%402.3.1/dist/aos.js' %}"></script>
<script src="{% static 'js/text-animations.js' %}"></script>
<script src="{% static 'js/carousel.js' %}"></script>
<script src="{% static 'js/showhide.html"></script>
<script src="../../cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js' %}"></script>
<script src="https://unpkg.com/ityped@0.0.10"></script>
<script src="{% static 'js/type.js' %}"></script>  
<script src="{% static 'js/custom-script.js' %}"></script>